input[required] {
    border-style: dashed;
}

/*Validation
-----------------*/

input.ng-pristine {
    background-color: #fafbe6;
}

input.ng-invalid.submitted,
input.ng-invalid.ng-dirty {
    background-color: #f2bbbb;
}

input.ng-valid.submitted,
input.ng-valid.ng-dirty {
    background-color: #b4e5a0;
}

textarea.ng-pristine {
    background-color: #fafbe6;
}

textarea.ng-invalid.submitted,
textarea.ng-invalid.ng-dirty {
    background-color: #f2bbbb;
}

textarea.ng-valid.submitted,
textarea.ng-valid.ng-dirty {
    background-color: #b4e5a0;
}

/*End Validation
-----------------*/

html {
    margin: 20px;
}

body {
    background-color: #3a92c8;
    background: -webkit-radial-gradient(circle,#94d2f8,#3a92c8);
}

header {
}

article {
}

footer {
}
