*[required] {
    border-style: dashed;
}

/*pristine*/
input.ng-pristine,
textarea.ng-pristine {
    background-color: #ffffff;
}

/*invalid*/
input.ng-invalid.submitted,
input.ng-invalid.ng-dirty,
textarea.ng-invalid.submitted,
textarea.ng-invalid.ng-dirty {
    background-color: #f2bbbb;
}

/*valid*/
input.ng-valid.submitted,
input.ng-valid.ng-dirty,
textarea.ng-valid.submitted,
textarea.ng-valid.ng-dirty {
    background-color: #b4e5a0;
}

html {
    
}

body {
    background-color: white;
    padding: 20px;
}

header {
}

article {
}

footer {
}

.tab-pane
{    
    border:1px solid rgb(221, 221, 221);
    border-top-width:0;    
    padding:20px;
}

*.developer {

    border: 1px solid red;

}