input.ng-pristine {
}

input[required] {
    border-style: dashed;
}

input.ng-pristine {
    background-color: #fcffaf;
}

input.ng-invalid.submitted,
input.ng-invalid.ng-dirty {
    background-color: #f2bbbb;
}
input.ng-valid.submitted,
input.ng-valid.ng-dirty {
    background-color: #7ed15b;
}

html {
    background: black;
    padding: 20px;
}

body {
    padding: 20px;
}

header {
}

article {
}

footer {
}
