
<div ng-controller="AdminCtrl">

    <h2>Users</h2>
    <table class="table table-bordered table-striped table-hover table-responsive">        
        <tbody>
            <tr>
                <th></th>
                <th>UserName</th>
                <th>Name</th>
                <th>Submitted</th>
            </tr>
            <tr ng-repeat="applicant in applicants">
                <td>{{ $index }}</td>
                <td>{{ applicant.UserName }}</td>
                <td>{{ applicant.Name }}</td>
                <td>{{ applicant.IsSubmitted === null ? "No" : "Yes" }}</td>
            </tr>
        </tbody>
    </table>

</div>