

<h2>{{applicant.ci.name}} <small>username {{applicant.UserName}}</small></h2>
<!--Biography-->
<div class="panel panel-default" ng-switch="applicant.bio !== null">
    <div class="panel-heading"><h3>Biography</h3></div>
    <div class="panel-body" ng-switch-when="true">
        <div class="media">
            <div class="pull-left" ng-switch="objSvc.isUndefinedOrNull(applicant.bio.imageRelativePath)">
                <div class="media-object thumbnail">
                    <img class="img-medium" ng-src="{{applicant.bio.imageRelativePath}}" err-src="holder.js/187x187" />
                    <div class="caption">
                        <a href="{{applicant.bio.imageRelativePath}}" class="btn btn-default" role="button">Full Size</a>
                    </div>
                </div>
            </div>
            <div class="media-body">
                {{applicant.bio.text}}
            </div>
        </div>
    </div>
    <div class="panel-body" ng-switch-when="false">Lacks Content</div>
</div>
<!--End Biography-->
<!--Contact Info-->
<div class="panel panel-default" ng-switch="applicant.ci !== null">
    <div class="panel-heading"><h3>Contact Info</h3></div>
    <div class="panel-body" ng-switch-when="true">
        <div class="row">
            <div class="col-xs-6">
                <strong>Address</strong>
                <address>
                    <span ng-if="applicant.ci.name">{{applicant.ci.name}}<br /></span>
                    <span ng-if="applicant.ci.businessName">{{applicant.ci.businessName}}<br /></span>
                    <span ng-if="applicant.ci.address.street">{{applicant.ci.address.street}}<br /></span>
                    <span ng-if="applicant.ci.address.city">{{applicant.ci.address.city}},</span>
                    <span ng-if="applicant.ci.address.province">{{applicant.ci.address.province}}<br /></span>
                    <span ng-if="applicant.ci.address.country">{{applicant.ci.address.country}}</span>
                    <span ng-if="applicant.ci.address.postalCode">{{applicant.ci.address.postalCode}}<br /></</span>
                </address>
            </div>
            <div class="col-xs-6">
                <dl>
                    <dt>Phone</dt>
                    <dd>{{applicant.ci.contactPhone}}</dd>
                    <dt>Email</dt>
                    <dd>{{applicant.ci.email}}</dd>
                    <dt>Web</dt>
                    <dd>{{applicant.ci.website}}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="panel-body" ng-switch-when="false">Lacks Content</div>
</div>
<!--End Contact Info-->
<!--Teaching Experience-->
<div class="panel panel-default" ng-switch="applicant.te !== null">
    <div class="panel-heading"><h3>Teaching Experience</h3></div>
    <div class="panel-body" ng-switch-when="true" ng-init="te = applicant.TeachingExperience[0]">
        <div class="well" ng-switch="applicant.te.pastConferences !== null">
            <strong>Past Conferences</strong>
            <p ng-switch-when="true">{{applicant.te.pastConferences}}</p>
            <p ng-switch-when="false">N/A</p>
        </div>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th class="col-lg-2">Ave Students / Class</th>
                    <td class="col-lg-10">{{applicant.te.aveNumStudentsPerClass}}</td>
                </tr>
                <tr>
                    <th>Has Taught Previously</th>
                    <td>{{applicant.te.hasTaught}}</td>
                </tr>
                <tr>
                    <th>Years Decorating</th>
                    <td>{{applicant.te.yearsDecorating}}</td>
                </tr>
                <tr>
                    <th>Years Teaching</th>
                    <td>{{applicant.te.yearsTeaching}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-body" ng-switch-when="false">Lacks Content</div>
</div>
<!--End Teaching Experience-->
<!--Class Info-->
<div class="panel panel-default" ng-repeat="class in applicant.cinfo">
    <div class="panel-heading"><h3>Class {{$index + 1}}: {{class.className}}</h3></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="media">
                    <div class="pull-left">
                        <div class="media-object thumbnail">
                            <img class="img-medium" ng-src="{{class.imageRelativePath}}" err-src="holder.js/187x187" />
                            <div class="caption">
                                <a href="{{class.imageRelativePath}}" class="btn btn-default" role="button">Full Size</a>
                            </div>
                        </div>
                    </div>
                    <div class="media-body" ng-switch="class.classDescription !== null">
                        <p ng-switch-when="true">{{class.classDescription}}</p>
                        <p ng-switch-when="false">N/A</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th class="col-lg-5">Class Type</th>
                            <td class="col-lg-7">{{class.classType}}</td>
                        </tr>
                        <tr>
                            <th>Price Per Student</th>
                            <td>{{class.currency}}${{class.feePerStudent}}</td>
                        </tr>
                        <tr>
                            <th>Students</th>
                            <td>{{class.classSizeMin}} to {{class.classSizeMax}}</td>
                        </tr>
                        <tr>
                            <th>Skill Level</th>
                            <td>{{class.skillLevel}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3" ng-switch="class.suppliesOption">
                <h4>Supplies Option</h4>
                <p ng-switch-default>N/A</p>
                <p ng-switch-when="allInstructor">The instructor will supply all: {{class.suppliesWillProvideThese}}</p>
                <p ng-switch-when="allStudent">The student will supply all: {{class.suppliesWillRequireThese}}</p>
                <div ng-switch-when="someInstructorSomeStudent">
                    The instructor will bring some; the student must bring the rest.
                    <ul class="list-unstyled">
                        <li>Instructor: {{class.suppliesWillProvideThese}}</li>
                        <li>Student: {{class.suppliesWillRequireThese}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3" ng-switch="{{class.doSpecialSupplies}}">
                <h4>Special Supplies</h4>
                <span ng-switch-default>N/A</span>
                <span ng-switch-when="true">The instructor needs these special supplies: {{class.willNeedThisSpecialEquip}}</span>
                <span ng-switch-when="false">The instructor does NOT need special supplies.</span>
            </div>
            <div class="col-lg-3" ng-switch="{{class.isSelling}}">
                <h4>Supply Sales</h4>
                <span ng-switch-default>N/A</span>
                <span ng-switch-when="true">The instructor is selling these supplies: {{class.suppliesWillSellThese}}</span>
                <span ng-switch-when="false">is NOT selling supplies.</span>
            </div>
            <div class="col-lg-3" ng-switch="{{class.doVendorTable}}">
                <h4>Vendor Table</h4>
                <span ng-switch-default>N/A</span>
                <span ng-switch-when="true">The instructor would like a vendor table in the {{class.vendorTable}}</span>
                <span ng-switch-when="false">would NOT like a vendor table.</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered table-hover">
                    <caption><h4>Schedule</h4></caption>
                    <tbody>
                        <tr>
                            <th></th>
                            <th>Duration</th>
                            <th>Setup</th>
                            <th>Cleaup</th>
                            <th>Total</th>
                            <th>Total</th>
                            <th>Date / Time Preference</th>
                        </tr>
                        <tr>
                            <th>Day One</th>
                            <td>{{class.totalTimeDayOne}} hrs</td>
                            <td>{{class.extraTimeSetup}} mins</td>
                            <td>{{class.extraTimeCleanup}} mins</td>
                            <td>{{ totalMinutes(class.totalTimeDayOne, class.extraTimeSetup + class.extraTimeCleanup) }} mins</td>
                            <td>{{ totalHours(class.totalTimeDayOne, class.extraTimeSetup + class.extraTimeCleanup) }} hrs</td>
                            <td>{{ class.hasSchedulePreference ? class.preferredTimeDayOne : 'N/A' }} </td>
                        </tr>
                        <!--Day two-->
                        <tr ng-show="class.isMultiDay">
                            <th>Day Two</th>
                            <td>{{class.totalTimeDayTwo}} hrs</td>
                            <td>{{class.extraTimeSetup}} mins</td>
                            <td>{{class.extraTimeCleanup}} mins</td>
                            <td>{{ totalMinutes(class.totalTimeDayOne, class.extraTimeSetup + class.extraTimeCleanup) }} mins</td>
                            <td>{{ totalHours(class.totalTimeDayOne, class.extraTimeSetup + class.extraTimeCleanup) }} hrs</td>
                            <td>{{ class.hasSchedulePreference ? class.preferredTimeDayTwo : 'N/A' }} </td>
                        </tr>
                        <tr ng-show="!class.isMultiDay">
                            <th>Day Two</th>
                            <td colspan="7">N/A</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

