<!--Biography-->
<div class="panel panel-default" ng-switch="applicant.Biography.length > 0">
    <div class="panel-heading">Biography</div>
    <div class="panel-body" ng-switch-when="true" ng-init="bio = applicant.Biography[0]">
        <div class="media">
            <div class="pull-left" ng-switch="objSvc.isUndefinedOrNull(bio.imageRelativePath)">
                <div class="media-object thumbnail">
                    <img class="img-medium" ng-src="{{bio.imageRelativePath}}" err-src="holder.js/187x187" />
                    <div class="caption">
                        <a href="{{bio.imageRelativePath}}" class="btn btn-default" role="button">Full Size</a>
                    </div>
                </div>
            </div>
            <div class="media-body">
                {{bio.text}}
            </div>
        </div>
    </div>
    <div class="panel-body" ng-switch-when="false">Lacks Content</div>
</div>
<!--End Biography-->
<!--Contact Info-->
<div class="panel panel-default" ng-switch="applicant.ContactInfo.length > 0">
    <div class="panel-heading">Contact Info</div>
    <div class="panel-body" ng-switch-when="true" ng-init="ci = applicant.ContactInfo[0]">
        <div class="row">
            <div class="col-lg-3">
                <strong>Address</strong>
                <address>
                    <span ng-if="ci.name">{{ci.name}}<br /></span>
                    <span ng-if="ci.businessName">{{ci.businessName}}<br /></span>
                    <span ng-if="ci.address.street">{{ci.address.street}}<br /></span>
                    <span ng-if="ci.address.city">{{ci.address.city}},</span>
                    <span ng-if="ci.address.province">{{ci.address.province}}<br /></span>
                    <span ng-if="ci.address.country">{{ci.address.country}}</span>
                    <span ng-if="ci.address.postalCode">{{ci.address.postalCode}}<br /></</span>
                </address>
            </div>
            <div class="col-lg-3">
                <dl style="margin-top:0px;">
                    <dt>Phone</dt>
                    <dd>{{applicant.ContactInfo[0].contactPhone}}</dd>
                    <dt>Email</dt>
                    <dd>{{applicant.ContactInfo[0].email}}</dd>
                    <dt>Web</dt>
                    <dd>{{applicant.ContactInfo[0].website}}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="panel-body" ng-switch-when="false">Lacks Content</div>
</div>
<!--End Contact Info-->
<!--Teaching Experience-->
<div class="panel panel-default" ng-switch="applicant.TeachingExperience.length > 0">
    <div class="panel-heading">Teaching Experience</div>
    <div class="panel-body" ng-switch-when="true" ng-init="te = applicant.TeachingExperience[0]">
        <div class="well" ng-switch="te.pastConferences !== null">
            <strong>Past Conferences</strong>
            <p ng-switch-when="true">{{te.pastConferences}}</p>
            <p ng-switch-when="false">...</p>
        </div>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th class="col-lg-2">Ave Students / Class</th>
                    <td class="col-lg-10">{{te.aveNumStudentsPerClass}}</td>
                </tr>
                <tr>
                    <th>Has Taught Previously</th>
                    <td>{{te.hasTaught}}</td>
                </tr>
                <tr>
                    <th>Years Decorating</th>
                    <td>{{te.yearsDecorating}}</td>
                </tr>
                <tr>
                    <th>Years Teaching</th>
                    <td>{{te.yearsTeaching}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-body" ng-switch-when="false">Lacks Content</div>
</div>
<!--End Teaching Experience-->
<!--Class Info-->

<div class="panel panel-default" ng-repeat="ci in applicant.ClassInfo">
    <div class="panel-heading">Class {{$index + 1}}: {{ci.className}}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="media">
                    <div class="pull-left">
                        <div class="media-object thumbnail">
                            <img class="img-medium" ng-src="{{ci.imageRelativePath}}" err-src="holder.js/187x187" />
                            <div class="caption">
                                <a href="{{ci.imageRelativePath}}" class="btn btn-default" role="button">Full Size</a>
                            </div>
                        </div>
                    </div>
                    <div class="media-body" ng-switch="ci.classDescription !== null">
                        <p ng-switch-when="true">{{ci.classDescription}}</p>
                        <p ng-switch-when="false">...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th class="col-lg-5">Class Type</th>
                            <td class="col-lg-7">{{ci.classType}}</td>
                        </tr>
                        <tr>
                            <th>Price Per Student</th>
                            <td>{{ci.currency}}${{ci.feePerStudent}}</td>
                        </tr>
                        <tr>
                            <th>Students</th>
                            <td>{{ci.classSizeMin}} to {{ci.classSizeMax}}</td>
                        </tr>
                        <tr>
                            <th>Skill Level</th>
                            <td>{{ci.skillLevel}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3" ng-switch="ci.suppliesOption">
                <h4>Supplies Option</h4>
                <p ng-switch-default>...</p>
                <p ng-switch-when="allInstructor">The instructor will supply all: {{ci.suppliesWillProvideThese}}</p>
                <p ng-switch-when="allStudent">The student will supply all: {{ci.suppliesWillRequireThese}}</p>
                <div ng-switch-when="someInstructorSomeStudent">
                    The instructor will bring some; the student must bring the rest.
                    <ul class="list-unstyled">
                        <li>Instructor: {{ci.suppliesWillProvideThese}}</li>
                        <li>Student: {{ci.suppliesWillRequireThese}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3" ng-switch="{{ci.doSpecialSupplies}}">
                <h4>Special Supplies</h4>
                <span ng-switch-default>...</span>
                <span ng-switch-when="true">The instructor needs these special supplies: {{ci.willNeedThisSpecialEquip}}</span>
                <span ng-switch-when="false">The instructor does NOT need special supplies.</span>
            </div>

            <div class="col-lg-3" ng-switch="{{ci.isSelling}}">
                <h4>Supply Sales</h4>                
                <span ng-switch-default>...</span>
                <span ng-switch-when="true">The instructor is selling these supplies: {{ci.suppliesWillSellThese}}</span>
                <span ng-switch-when="false">is NOT selling supplies.</span>
            </div>
            <div class="col-lg-3" ng-switch="{{ci.doVendorTable}}">
                <h4>Vendor Table</h4>
                <span ng-switch-default>...</span>
                <span ng-switch-when="true">The instructor would like a vendor table in the {{ci.vendorTable}}</span>
                <span ng-switch-when="false">would NOT like a vendor table.</span>
            </div>
        </div>
    </div>


    <!--<div class="col-lg-6">
        <h3>Class Schedule</h3>
        <ul>
            <li>
                <div ng-switch="{{ci.isMultiDay === true}}">
                    The class is
                    <span ng-switch-when="true">two days; {{ci.totalTimeDayOne}} hours and {{ci.totalTimeDayTwo}} hours.</span>
                    <span ng-switch-when="false">one day only and is {{ci.totalTimeDayOne}} hours</span>
                </div>
            </li>

            <li>
                <div ng-switch="{{ci.hasTimePreference === true}}">
                    The instructor
                    <div ng-switch-when="true">
                        has a scheduling preference: <ul>
                            <li>Day One {{ci.preferredTimeDayOne}}</li>
                            <li>Day Two {{ci.preferredTimeDayTwo}}</li>
                        </ul>
                    </div>
                    <span ng-switch-when="false">does NOT have a scheduling preference.</span>
                </div>
            </li>
            <li>Needs {{ci.extraTimeCleanup}} mins extra cleanup time.</li>
            <li>Needs {{ci.extraTimeSetup}} mins extra setup time.</li>
        </ul>
    </div>-->

</div>

</div>
<!--End Class Info-->
