<div ng-controller="ApplicationFormCtrl">

    <tabset>
        <!-- NiceToHave Use ng-repeat instead of copy and paste -->
        <tab ng-controller="ContactInfoCtrl" heading="{{ formName }}">
            <div class="well" simple-model-form></div>
        </tab>
        <tab ng-controller="TeachingExperienceCtrl" heading="{{ formName }}">
            <p>Todo</p>
        </tab>
        <tab ng-controller="BiographyCtrl" heading="{{ formName }}">
            <p>Todo</p>
        </tab>
        <tab ng-controller="ClassesCtrl" heading="{{ formName }}">
            <div class="well" class-info-form></div>
        </tab>
    </tabset>

</div>