<div ng-controller="ApplicationFormCtrl">

    <div id="user-success-message" ng-show="formSvc.showSavedMessage" class="alert alert-success">
        <span>Save complete.</span><button type="button" class="close" ng-click="formSvc.showSavedMessage = false" aria-hidden="true">&times;</button>
    </div>

    <ng-form name="outerForm">
        <tabset>
            <!-- NiceToHave Use ng-repeat instead of copy and paste -->
            <tab ng-controller="ContactInfoCtrl" heading="{{ formName }}">
                <div contact-info-form-inputs></div>
            </tab>
            <tab ng-controller="TeachingExperienceCtrl" heading="{{ formName }}">
                <!--  -->
                <div teaching-experience-form-inputs></div>
            </tab>
            <tab ng-controller="BiographyCtrl" heading="{{ formName }}">
                <div biography-form-inputs></div>
            </tab>
            <tab ng-controller="ClassesCtrl" heading="{{ formName }}">
                <div class-info-form-inputs></div>
            </tab>
            <tab heading="Submit Application">

                <div ng-show="requiredErrorCount > 0" class="alert alert-danger">
                    <p>You have {{ requiredErrorCount }} required fields to fill in before you can submit.</p>
                </div>

                <p>Now that you’ve finished your application, this is where you submit it for consideration.</p>
                <p>Before you submit, please make sure that your application is complete and correct.</p>
                <p>You will not be able to submit an incomplete application, nor will you be able to make any changes to your application once you submit it.</p>
                <p>So…take a deep breath and submit away!</p>
                <div bse-input id="test" lbl-text="Please type your username here to confirm:" outer-form="outerForm" the-model="signOff" submit-required="true" type="text"></div>
                <button class="btn btn-default" ng-click="submit()">Submit</button>
            </tab>
        </tabset>
    </ng-form>
</div>