<div class="row">
    <div class="col-lg-8">

        {{ bio | json }}

        <div bse-input submit-required
             help-block="Please provide us with a short biography for use on our website in promoting your classes. Kindly type your bio in the space below. This is what people will read about you, please make sure that your grammar and spelling are correct."
             rows="10" outer-form="outerForm" lbl-text="Biography" type="textarea" the-model="bio.text"></div>


        <input ng-file-select type="file" submit-required />

        <div ng-repeat="item in uploader.queue">
            <strong>{{ item.file.name }}</strong>
            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item.file, height: 187 }"></div>
        </div>

        <button class="btn btn-default" ng-click="update(bio, outerForm)">Save</button>

    </div>
</div>

