<div class="row">
    <div class="col-lg-8">

        <div bse-input class="hidden" id="id" type="hidden" the-model="bio.id" outer-form="outerForm"></div>
        <div bse-input submit-required
             help-block="Please provide us with a short biography for use on our website in promoting your classes. Kindly type your bio in the space below. This is what people will read about you, please make sure that your grammar and spelling are correct."
             rows="10" outer-form="outerForm" lbl-text="Biography" type="textarea" the-model="bio.text"></div>
        <div bse-file-upload type="text" uploader="uploader" outer-form="outerForm" the-model="bio.hasBioImage"></div>
        <button class="btn btn-default" ng-click="update(bio, outerForm)">Save</button>

    </div>
</div>

