<div class="row">
    <div class="col-lg-8">

        <div bse-input class="hidden" id="id" type="hidden" ng-model="formModel.id" outer-form="outerForm"></div>
        <div bse-input submit-required="true"
             help-block="Please provide us with a short biography for use on our website in promoting your classes. Kindly type your bio in the space below. This is what people will read about you, please make sure that your grammar and spelling are correct."
             rows="10" outer-form="outerForm" lbl-text="Biography" type="textarea" ng-model="formModel.text"></div>

        <!--Image-->
        <div bse-file-upload type="text" uploader="uploader" outer-form="outerForm" ng-model="formModel.hasBioImage"
             lbl-text="Your image" img-identifier="bio" help-block="Your picture should be about a 2.5 inch rectangle with a 75 DPI resolution. In other words, it should be about 187 pixels by 187 pixels."></div>

        <div>
            {{ formModel.hasBioImage }}
            {{ formModel.bioImageRelativePath }}
            <img class="img-thumbnail" ng-if="formModel.hasBioImage" class="img-rounded img-thumbnail" src="{{ formModel.bioImageRelativePath }}" />
            <img class="img-thumbnail" ng-if="!formModel.hasBioImage" class="img-rounded img-thumbnail" src="{{ formModel.bioImageRelativePath }}" />
        </div>

        <!--End Image-->

        <button class="btn btn-primary" ng-click="update(formModel, outerForm, url)">Save</button>

    </div>
</div>

