



<div class="form-group">

    <ng-form name="foo">

        <!--Use a hidden input not a switch,
        because a switch has it's own scope.-->
        <input type="hidden" ng-model="doInputGroup" value="{{ (addOnLeft.length + addOnRight.length) > 0 }}">

        <label for="{{ inputId }}">{{ labelText }}</label>

        <!-- Bootstrap Input Group -->
        <div class="input-group" ng-show="doInputGroup">
            <span ng-if="addOnLeft.length > 0" class="input-group-addon">{{ addOnLeft }}</span>
            <bs-input input-id="{{ inputId }}" input-type="{{ inputType }}" the-model="theModel"></bs-input>
            <span ng-if="addOnRight.length > 0" class="input-group-addon">{{ addOnRight }}</span>
        </div>

        <!-- Bootstrap Input -->
        <div ng-show="!doInputGroup">
            <bs-input input-id="{{ inputId }}" input-type="{{ inputType }}" the-model="theModel"></bs-input>
        </div>

        <!--Validation and Help-->
        <span class="help-block">{{ helpBlock }}</span>
        <div ng-show="foo.bar.$dirty && foo.bar.$invalid">
            Invalid:
            <span ng-show="foo.bar.$error.required">Tell us your {{ labelText.toLowerCase() }}.</span>
            <span ng-show="foo.bar.$error.email">Tell us your {{ labelText.toLowerCase() }}.</span>

        </div>

    </ng-form>
</div>
