



<div class="form-group">

    <ng-form name="foo">



        <label for="{{ inputId }}">{{ labelText }}</label>

        <div ng-switch="{{ (addOnLeft.length + addOnRight.length) > 0 }}">

            <!-- Bootstrap Input Group -->
            <div class="input-group" ng-switch-when="true">
                <span ng-if="addOnLeft.length > 0" class="input-group-addon">{{ addOnLeft }}</span>
                <bs-input the-model="theModel"></bs-input>
                <span ng-if="addOnRight.length > 0" class="input-group-addon">{{ addOnRight }}</span>
            </div>

            <!-- Bootstrap Input -->
            <div ng-switch-when="false">
                <bs-input the-model="theModel"></bs-input>
            </div>

        </div>

        <!--Validation and Help-->
        <span class="help-block">{{ helpBlock }}</span>
        <div ng-show="foo.bar.$dirty && foo.bar.$invalid">
            Invalid:
        </div>

    </ng-form>
</div>
