<div class="row">
    <div class="col-lg-8">

        <h3>

            <span class="label"
                  ng-class="{
                    'label-danger': totalClassHours() < 20,
                    'label-success': totalClassHours() >= 20 }">Total class hours: {{ totalClassHours() }} / 20.</span>
        </h3>

        <div tabset class="class-info-tabs">
            <tab ng-repeat="formModel in classes" active="formModel.active" disabled="true">

                <h3>{{ formModel.className }}</h3>

                <div accordion close-others="false">

                    <div bse-input class="hidden" id="id" type="hidden" ng-model="formModel.id" outer-form="outerForm"></div>


                    <!--Class Overview-->
                    <fieldset accordion-group is-open="isopenOne" ng-init="isopenOne = true">

                        <accordion-heading>
                            Class Overview <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopenOne, 'glyphicon-chevron-right': !isopenOne}"></i>
                        </accordion-heading>

                        <legend>Class Overview</legend>
                        <div bse-input submit-required="true" outer-form="outerForm" lbl-text="Class Name" id="className" type="text" ng-model="formModel.className"></div>
                        <div bse-input submit-required="true" outer-form="outerForm" lbl-text="Class Description" rows="10" type="textarea" ng-model="formModel.classDescription"></div>
                        <fieldset>
                            <!--Nice-to-Have: make a check box list directive-->
                            <label>Class Type:</label>
                            <div bse-input outer-form="outerForm" type="radio" lbl-text="Hands-On Class" value="handsOn" ng-model="formModel.classType"></div>
                            <div bse-input outer-form="outerForm" type="radio" lbl-text="Demo" value="demo" ng-model="formModel.classType"></div>
                            <div bse-input submit-required="true" outer-form="outerForm" hidden-input type="text" ng-model="formModel.classType"></div>
                        </fieldset>
                        <fieldset>
                            <div bse-file-upload type="text" uploader="uploader" outer-form="outerForm"
                                 uploaded-img-path="formModel.imageRelativePath" has-image="formModel.hasImage"
                                 lbl-text="Class image" img-identifier="class{{ formModel.id }}" help-block="Your picture should be about a 2.5 inch square with a 75 DPI resolution. In other words, it should be about 187 pixels by 187 pixels."></div>
                        </fieldset>
                    </fieldset>


                    <!--Student Overview-->
                    <fieldset accordion-group is-open="isopenTwo" ng-init="isopenTwo = true">

                        <accordion-heading>
                            Student Overview <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopenTwo, 'glyphicon-chevron-right': !isopenTwo}"></i>
                        </accordion-heading>

                        <legend>Student Overview</legend>

                        <fieldset>
                            <div bse-input submit-required="true" outer-form="outerForm" add-on-left="{{formModel.currency}}" add-on-right=".00" id="feePerStudent" type="number" lbl-text="Fee per student" ng-model="formModel.feePerStudent"></div>
                            <!--Nice-to-have: Make this a drop down list add-on.-->
                            <div bse-input outer-form="outerForm" type="radio" lbl-text="Canadian" value="Canadian" ng-model="formModel.currency"></div>
                            <div bse-input outer-form="outerForm" type="radio" lbl-text="US" value="US" ng-model="formModel.currency"></div>
                            <div bse-input outer-form="outerForm" type="radio" lbl-text="Euros" value="Euro" ng-model="formModel.currency"></div>
                            <div bse-input submit-required="true" outer-form="outerForm" hidden-input type="text" ng-model="formModel.currency"></div>
                        </fieldset>

                        <fieldset>
                            <div bse-input submit-required="true" outer-form="outerForm" add-on-left="Min Students" lbl-text="Minimum Number of Students" id="classSizeMin" type="number" ng-model="formModel.classSizeMin"></div>
                            <div bse-input submit-required="true" outer-form="outerForm" add-on-left="Max Students" lbl-text="Maximum Number of Students" id="classSizeMax" type="number" ng-model="formModel.classSizeMax"></div>
                        </fieldset>

                        <fieldset>
                            <label>Skill Level:</label>
                            <div bse-input outer-form="outerForm" type="radio" lbl-text="Beginner" value="beginner" ng-model="formModel.skillLevel"></div>
                            <div bse-input outer-form="outerForm" type="radio" lbl-text="Intermediate" value="intermediate" ng-model="formModel.skillLevel"></div>
                            <div bse-input outer-form="outerForm" type="radio" lbl-text="Advanced" value="advanced" ng-model="formModel.skillLevel"></div>
                            <div bse-input submit-required="true" outer-form="outerForm" hidden-input type="text" ng-model="formModel.skillLevel"></div>
                        </fieldset>

                    </fieldset>


                    <!--Class Schedule-->
                    <fieldset accordion-group is-open="isopenThree" ng-init="isopenThree = true">

                        <accordion-heading>
                            Class Schedule <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopenThree, 'glyphicon-chevron-right': !isopenThree}"></i>
                        </accordion-heading>

                        <legend>Class Schedule</legend>
                        <fieldset>
                            <div bse-input outer-form="outerForm" type="checkbox" lbl-text="My class will run more than one day." ng-model="formModel.isMultiDay"></div>
                            <div bse-input submit-required="true" outer-form="outerForm" add-on-left="Hours" help-block="Total time required for class (do not include set up or clean up)." id="totalTimeDayOne" type="number" lbl-text="Total {{ formModel.isMultiDay ? 'day one' : '' }} class time:" ng-model="formModel.totalTimeDayOne"></div>
                            <div bse-input submit-required="{{ formModel.isMultiDay }}" outer-form="outerForm" add-on-left="Hours" help-block="Total time required for day two's formModel." id="totalTimeDayTwo" type="number" lbl-text="Total day two class time:" ng-show="formModel.isMultiDay" ng-model="formModel.totalTimeDayTwo"></div>
                        </fieldset>


                        <fieldset>
                            <div bse-input outer-form="outerForm" type="checkbox" lbl-text="I have a class scheduling preference." ng-model="formModel.hasTimePreference"></div>
                            <div ng-show="formModel.hasTimePreference" class="row">
                                <div class="col-sm-6">
                                    <label>Preferred {{ formModel.isMultiDay ? 'day one' : '' }} timing:</label>
                                    <div bse-input outer-form="outerForm" type="radio" lbl-text="Fri - am" value="fri-am" ng-model="formModel.preferredTimeDayOne"></div>
                                    <div bse-input outer-form="outerForm" type="radio" lbl-text="Fri - pm" value="fri-pm" ng-model="formModel.preferredTimeDayOne"></div>
                                    <div bse-input outer-form="outerForm" type="radio" lbl-text="Sat - am" value="sat-am" ng-model="formModel.preferredTimeDayOne"></div>
                                    <div bse-input outer-form="outerForm" type="radio" lbl-text="Sat - pm" value="sat-pm" ng-model="formModel.preferredTimeDayOne"></div>
                                    <div bse-input outer-form="outerForm" type="radio" lbl-text="Sun - am" value="sun-am" ng-model="formModel.preferredTimeDayOne"></div>
                                    <div bse-input outer-form="outerForm" type="radio" lbl-text="Sun - pm" value="sun-pm" ng-model="formModel.preferredTimeDayOne"></div>
                                    <div bse-input submit-required="{{ formModel.hasTimePreference }}" outer-form="outerForm" hidden-input type="text" ng-model="formModel.preferredTimeDayOne"></div>

                                </div>
                                <div ng-show="formModel.isMultiDay" class="col-sm-6">
                                    <label>Preferred day two timing:</label>
                                    <div bse-input outer-form="outerForm" type="radio" lbl-text="Fri - am" value="fri-am" ng-model="formModel.preferredTimeDayTwo"></div>
                                    <div bse-input outer-form="outerForm" type="radio" lbl-text="Fri - pm" value="fri-pm" ng-model="formModel.preferredTimeDayTwo"></div>
                                    <div bse-input outer-form="outerForm" type="radio" lbl-text="Sat - am" value="sat-am" ng-model="formModel.preferredTimeDayTwo"></div>
                                    <div bse-input outer-form="outerForm" type="radio" lbl-text="Sat - pm" value="sat-pm" ng-model="formModel.preferredTimeDayTwo"></div>
                                    <div bse-input outer-form="outerForm" type="radio" lbl-text="Sun - am" value="sun-am" ng-model="formModel.preferredTimeDayTwo"></div>
                                    <div bse-input outer-form="outerForm" type="radio" lbl-text="Sun - pm" value="sun-pm" ng-model="formModel.preferredTimeDayTwo"></div>
                                    <div bse-input submit-required="{{ formModel.isMultiDay && formModel.hasTimePreference }}" outer-form="outerForm" hidden-input type="text" ng-model="formModel.preferredTimeDayTwo"></div>

                                </div>
                            </div>

                        </fieldset>

                        <fieldset>

                            <label>We will automatically add 15 mins for set up and 15 mins for clean up, do you require more time:</label>
                            <div bse-input outer-form="outerForm" type="checkbox" lbl-text="I require more than 15-mins for setup." ng-model="formModel.needsExtraSetup"></div>
                            <div bse-input outer-form="outerForm" ng-show="formModel.needsExtraSetup"
                                 lbl-text="Extra setup time:"
                                 help-block="How much additional time do you need?"
                                 id="extraTime.setup"
                                 type="number"
                                 add-on-right="mins"
                                 submit-required="{{ formModel.needsExtraSetup }}"
                                 ng-model="formModel.extraTimeSetup"></div>
                            <div bse-input outer-form="outerForm" type="checkbox" lbl-text="I require more than 15-mins for clean-up." ng-model="formModel.needsExtraCleanup"></div>
                            <div bse-input outer-form="outerForm" ng-show="formModel.needsExtraCleanup"
                                 lbl-text="Extra cleanup time:"
                                 help-block="How much additional time do you need?"
                                 id="extraTime.cleanup"
                                 type="number"
                                 add-on-right="mins"
                                 submit-required="{{ formModel.needsExtraCleanup }}"
                                 ng-model="formModel.extraTimeCleanup"></div>

                        </fieldset>
                    </fieldset>


                    <!--Class Supplies-->
                    <fieldset accordion-group is-open="isopenFour" ng-init="isopenFour = true">

                        <accordion-heading>
                            Class Supplies <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopenFour, 'glyphicon-chevron-right': !isopenFour}"></i>
                        </accordion-heading>


                        <legend>Class Supplies</legend>

                        <fieldset>
                            <div class="radio-button-list">
                                <div bse-input outer-form="outerForm" value="allInstructor" type="radio" lbl-text="I will provide all necessary supplies." ng-model="formModel.suppliesOption"></div>
                                <div bse-input outer-form="outerForm" value="allStudent" type="radio" lbl-text="The student must bring all necessary supplies." ng-model="formModel.suppliesOption"></div>
                                <div bse-input outer-form="outerForm" value="someInstructorSomeStudent" type="radio" lbl-text="I will provide some of the supplies, and the student must bring the rest." ng-model="formModel.suppliesOption"></div>
                                <div bse-input submit-required="true" outer-form="outerForm" hidden-input type="text" ng-model="formModel.suppliesOption"></div>
                            </div>
                            <div bse-input outer-form="outerForm"
                                 ng-show="formModel.suppliesOption === 'allInstructor' || formModel.suppliesOption === 'someInstructorSomeStudent'"
                                 submit-required="{{suppliesOption === 'allInstructor' || formModel.suppliesOption === 'someInstructorSomeStudent'}}"
                                 lbl-text="Supplies provided by instructor:"
                                 id="supplies-provided" rows="10" type="textarea" ng-model="formModel.suppliesWillProvideThese"></div>

                            <div bse-input outer-form="outerForm"
                                 ng-show="formModel.suppliesOption === 'allStudent' || formModel.suppliesOption === 'someInstructorSomeStudent'"
                                 submit-required="{{suppliesOption === 'allStudent' || formModel.suppliesOption === 'someInstructorSomeStudent'}}"
                                 lbl-text="Supplies provided by student:"
                                 help-block="Please provide a detailed list of what will be required. Please be mindful of the long distances many students will have to travel. For example, if a student will require a 12&quot; piece of aluminum foil, you may wish to provide a communal role instead of asking every student to bring some."
                                 id="supplied-required" rows="10" type="textarea" ng-model="formModel.suppliesWillRequireThese">
                            </div>
                        </fieldset>


                        <fieldset>
                            <div bse-input outer-form="outerForm" type="checkbox" lbl-text="I will be offering some of the required supplies for sale!" ng-model="formModel.isSelling"></div>
                            <div bse-input outer-form="outerForm" id="supplies-sale" rows="10" type="textarea"
                                 lbl-text="If so, please list:" ng-show="formModel.isSelling" ng-model="formModel.suppliesWillSellThese"></div>
                        </fieldset>

                        <fieldset>

                            <div bse-input outer-form="outerForm" type="checkbox" lbl-text="I would like a vendor table..." ng-model="formModel.doVendorTable"></div>
                            <div ng-show="formModel.doVendorTable">
                                <div bse-input outer-form="outerForm" type="radio" lbl-text="I would like a vendor table in the classroom ($40)." value="classRoom" ng-model="formModel.vendorTable"></div>
                                <div bse-input outer-form="outerForm" type="radio" lbl-text="I would like a vendor table in the vendor room (must complete online vendor form)." value="vendorRoom" ng-model="formModel.vendorTable"></div>
                                <div bse-input submit-required="{{ formModel.doVendorTable }}" outer-form="outerForm" hidden-input type="text" ng-model="formModel.vendorTable"></div>

                            </div>

                        </fieldset>

                        <fieldset>


                            <div bse-input outer-form="outerForm" type="checkbox" lbl-text="My class requires special supplies." ng-model="formModel.doSpecialSupplies"></div>

                            <div bse-input ng-show="formModel.doSpecialSupplies" outer-form="outerForm" id="supplies-special" submit-required="{{ formModel.doSpecialSupplies }}"
                                 rows=" 10" type="textarea" lbl-text="Special equipment required for class:" ng-model="formModel.willNeedThisSpecialEquip"></div>

                        </fieldset>

                    </fieldset>

                </div><br />
                <button class="btn btn-primary" ng-click="update(formModel, outerForm, url)">Save</button>

            </tab>
        </div>

    </div>

    <div class="col-lg-4">

        <ul class="list-unstyled" id="class-info-btn-group">
            <li>
                <button class="btn btn-primary" ng-click="create()"><span class="glyphicon glyphicon-plus"></span> Add New Class</button>
            </li>
            <li ng-repeat="formModel in classes">
                <div class="btn-group">
                    <button class="btn btn-primary" ng-click="formModel.active = true">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span>{{ formModel.className }}</span>
                    </button>
                    <button class="btn btn-danger" ng-click="delete(formModel, $index)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </li>
        </ul>

    </div>

</div>
