

<form novalidate name="outerForm">
    
    <div bse-input class="hidden" id="id" type="hidden" the-model="contactInfo.id" outer-form="outerForm"></div>
    <div bse-input id="name" lbl-text="Name" outer-form="outerForm" the-model="contactInfo.name" type="text"></div>
    <fieldset>
        <div bse-input class="hidden" id="id" type="hidden" the-model="contactInfo.address.id" outer-form="outerForm"></div>
        <div bse-input id="street" type="text" lbl-text="Street" the-model="contactInfo.address.street" outer-form="outerForm"></div>        
        <div bse-input id="city" type="text" lbl-text="City" the-model="contactInfo.address.city" outer-form="outerForm"></div>
        <div bse-input id="province" type="text" lbl-text="Province" the-model="contactInfo.address.province" outer-form="outerForm"></div>
        <div bse-input id="postal" type="text" lbl-text="Postal Code" the-model="contactInfo.address.postalCode" outer-form="outerForm"></div>
        <div bse-input id="country" type="text" lbl-text="Country" the-model="contactInfo.address.country" outer-form="outerForm"></div>
    </fieldset>
    <div bse-input id="phoneDay" type="text" lbl-text="Daytime Phone" the-model="contactInfo.phoneDay" outer-form="outerForm"></div>
    <div bse-input id="phoneCell" type="text" lbl-text="Cell Phone" the-model="contactInfo.phoneCell" outer-form="outerForm"></div>
    <div bse-input id="email" type="email" lbl-text="Email" the-model="contactInfo.email" outer-form="outerForm"></div>
    <div bse-input id="businessName" type="text" lbl-text="Business Name" not-required the-model="contactInfo.businessName" outer-form="outerForm"></div>
    <div bse-input id="website" type="text" lbl-text="Website" not-required the-model="contactInfo.website" outer-form="outerForm"></div>
    <button class="btn btn-default" ng-click="update(contactInfo, outerForm)">Save</button>

</form>
<!--<aside class="developer">
    <br />
    <strong>Form</strong>
    <pre>{{ contactInfo | json }}</pre>
    <strong>Master</strong>
    <pre>{{ masterModel | json }}</pre>
    <strong>Ajax Result</strong>
    <pre>{{ ajaxResult | json }}</pre>
</aside>-->
