<bs-form-group label-text="Name" input-id="name" input-type="text" the-model="contactInfo.name"></bs-form-group>
<bs-form-group label-text="Address" input-id="address" input-type="text" the-model="contactInfo.address"></bs-form-group>
<bs-form-group label-text="Daytime Phone" input-id="phoneDay" input-type="text" the-model="contactInfo.phoneDay"></bs-form-group>
<bs-form-group label-text="Cell Phoe" input-id="phoneCell" input-type="text" the-model="contactInfo.phoneCell"></bs-form-group>
<bs-form-group label-text="Email" input-id="email" input-type="text" the-model="contactInfo.email"></bs-form-group>
<bs-form-group label-text="Business Name" input-id="businessName" input-type="text" the-model="contactInfo.businessName"></bs-form-group>
<bs-form-group label-text="Website" input-id="website" input-type="text" the-model="contactInfo.website"></bs-form-group>

<pre>{{ contactInfo | json }}</pre>