

<form name="form" novalidate>
    <fieldset>

        <div class="form-group" ng-repeat="val in masterModel | toArray | orderBy:'order':false">

            <label for="{{ val.$key }}">{{ val.$key | addSpace }}</label>
            <input class="form-control" id="{{ val.$key }}" dynamic-name="val.$key" ng-model="clientModel[val.$key]"
                   ng-required="value.required" servervalidation type="{{ val.type }}" placeholder="{{ val.$key | addSpace }}" />

            <ul class="list-unstyled">
                <li ng-repeat="error in val.serverErrors">{{ error }}</li>
            </ul>

        </div>
        
        <div ng-switch="siteMapSvc.currentPage.toLowerCase()">
            
            <div ng-switch-when="login">
                <a type="button" class="btn btn-default" ng-click="submit()">Login</a>
                <a type="button" class="btn btn-link" href="#register">Register</a>
            </div>
            
            <div ng-switch-when="register">
                <a type="button" class="btn btn-default" ng-click="submit()">Register</a>
                <a type="button" class="btn btn-link" href="#login">Login</a>
            </div>

        </div>

    </fieldset>
</form>
