
<div ng-if="outerForm.userSubmitted">

    <div class="alert alert-success">
        <p class="lead">Hooray!</p>
        <p>You have submitted your application. Well done.</p>
        <p>You may review your application; you cannot, though, make any further changes.</p>
        <p>Good luck, and thank you for your application!</p>
    </div>

</div>
<div ng-if="!outerForm.userSubmitted">
    <div ng-show="failsSubmitRequired" class="alert alert-danger">
        <p>You have {{ requiredErrorsLength }} required fields to fill in before you can submit.</p>
    </div>
    <div ng-show="failsTotalClassHours" class="alert alert-danger">
        <p>You have only commited to teach {{ formSvc.totalClassHours() }} of the required 20 total class hours.</p>
    </div>
    <div class="alert alert-info">
        <p>If you have corrected errors, please submit again to refresh.</p>
    </div>
    <p>Now that you’ve finished your application, this is where you submit it for consideration.</p>
    <p>Before you submit, please make sure that your application is complete and correct.</p>
    <p>You will not be able to submit an incomplete application, nor will you be able to make any changes to your application once you submit it.</p>
    <p>So…take a deep breath and submit away!</p>
    <form name="submitForm">
        <div bse-input id="userNameConfirm" name="userNameConfirm" lbl-text="Please type your username here to confirm:" outer-form="outerForm" ng-model="userNameConfirm" submit-required="true" type="text" pattern="/^{{userSvc.userName}}+$/"></div>
        <button class="btn btn-primary" ng-disabled="!userNameConfirm" ng-click="submit()">Submit</button>
    </form>
</div>
