<div ng-show="requiredErrorsLength > 0" class="alert alert-danger">
    <p>You have {{ requiredErrorsLength }} required fields to fill in before you can submit.</p>
</div>
<p>Now that you’ve finished your application, this is where you submit it for consideration.</p>
<p>Before you submit, please make sure that your application is complete and correct.</p>
<p>You will not be able to submit an incomplete application, nor will you be able to make any changes to your application once you submit it.</p>
<p>So…take a deep breath and submit away!</p>
<form name="submitForm">
    <div bse-input id="userNameConfirm" name="userNameConfirm" lbl-text="Please type your username here to confirm:" outer-form="outerForm" ng-model="userNameConfirm" submit-required="true" type="text" pattern="/^{{userSvc.userName}}+$/"></div>
    <button class="btn btn-primary" ng-disabled="!userNameConfirm" ng-click="submit()">Submit</button>
</form>