

<div add-on-right="years" bse-input id="yearsDec" lbl-text="How long have you been decorating cakes?" outer-form="outerForm" smart-float the-model="experience.yearsDecorating" type="text"></div>
<div bse-input lbl-text="I have taught cake decorating before." the-model="experience.hasTaught" type="checkbox"></div>
<div ng-show="experience.hasTaught">
    <div add-on-right="years" bse-input lbl-text="How long have you been teaching?" smart-float the-model="experience.yearsTeaching" type="text"></div>
    <div bse-input lbl-text="Briefly describe your experience." rows="5" the-model="experience.pastConferences" type="textarea"></div>
    <div add-on-right="people" bse-input lbl-text="On average, how many people do you teach at a time?" the-model="experience.aveNumStudentsPerClass" type="text" integer></div>
</div>
<button class="btn btn-default" ng-click="update(experience, outerForm)">Save</button>


<!--<aside class="developer">
    <br />
    <strong>Form</strong>
    <pre>{{ experience | json }}</pre>
    <strong>Master</strong>
    <pre>{{ masterModel | json }}</pre>
    <strong>Ajax Result</strong>
    <pre>{{ ajaxResult | json }}</pre>
</aside>-->
