
<div ng-app="cakeLoveApp">
    
    <style type="text/css">
        
        /*Inline small css*/
        div[ng-app] {
            margin-top: 20px;
            margin-bottom: 20px;
        }

    </style>
    
    <article class="container" ng-controller="MainCtrl">
        
        <div class="row">

            <aside class="col-lg-6" ng-switch="auth.isLoggedIn">
                <p ng-switch-when="false">Hello Guest!</p>
                <p ng-switch-when="true">Welcome back {{ auth.userName }} </p>
            </aside>

        </div>
        <div class="row">

            <div class="col-lg-6">
                <div ng-view></div>
            </div>

        </div>

    </article>

</div>
