

<div ng-view></div>




<article ng-controller="MainCtrl">
    
    <aside ng-switch="auth.loggedIn">
        <span ng-switch-when="false">Hello Guest!</span>
        <span ng-switch-when="true">Welcome back {{ auth.userName }} </span>
    </aside>

    <header>
        <div class="container">
            <h1>
                <span class="glyphicon glyphicon-heart-empty"></span>Cake Love<span class="glyphicon glyphicon-heart-empty"></span>
            </h1>

        </div>
    </header>


    @* Agreement
        --------------- *@

    <section>
        <div class="container">
            <div class="row" ng-show="auth.loggedIn">
                <div class="col-lg-6" ng-controller="AgreementCtrl">
                    @Html.Partial("_Agreement")
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>Copyright 2014 Cake Love.</p>
        </div>
    </footer>

</article>