
<div ng-app="cakeLoveApp" ng-controller="MainCtrl">

    <style type="text/css">
        /*Inline small css*/
        div[ng-app] {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Cake Love</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">

                <aside ng-switch="userSvc.isLoggedIn">
                    <ul ng-switch-when="true" class="nav navbar-nav navbar-right">
                        <li><a href="#agreement">Agreement</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Signed in as {{ userSvc.userName }}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a ng-click="userSvc.logout()">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul ng-switch-when="false">
                        <li>Guest</li>
                    </ul>
                </aside>

                @*userSvc.logout()*@

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <article class="container">

        <div class="row">

            <div class="col-lg-6">
                <div ng-view></div>
            </div>

        </div>

    </article>

</div>
