<div ng-class="{'has-error':(innerForm.$dirty || outerForm.userSubmitting) && innerForm.$invalid, 'has-success':(innerForm.$dirty || outerForm.userSubmitting) && !innerForm.$invalid  }"
     class="form-group">
    <label>{{ lblText }}</label><br />
    <!--Uploaded-->
    <div class="image-upload">
        <ng-form name="innerForm">
            <input ng-file-select type="file" id="bioImgUploader" />
            <span class="help-block"></span>
            <input class="hidden" type="text" ng-model="ngModel" disabled submit-required="true" />
            <div ng-repeat="item in uploader.queue">
                <strong>{{ item.file.name }}</strong>
                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item.file, height: 187 }"></div>
            </div>
        </ng-form>
        <span class="help-block">{{ helpBlock }}</span>
        <div class="validation-messages" ng-show="(innerForm.$dirty || outerForm.userSubmitting) && innerForm.$invalid">
            <div class="warning">
                <span ng-show="innerForm.$error.submitRequired.length > 0">{{ submitRequiredMsg }}</span>
            </div>
        </div>
    </div>
</div>
