<form name="form" novalidate>

    @* Dynamic Way of Doing Things *@
    <div class="form-group" ng-repeat="(key, value) in masterUser">

        <label for="{{ key }}">{{ key | addspace }}</label>
        <input class="form-control" id="{{ key }}" dynamic-name="key" ng-model="clientUser[key]"
               ng-required="value.required" servervalidation
               type="{{ value.type }}" value="{{ value.value }}" />

        <ul class="list-unstyled">
            <li ng-repeat="error in value.serverErrors">{{ error }}</li>
        </ul>

    </div>

    <button class="btn btn-default" ng-click="submit()">submit</button>

</form>
