<form name="form" novalidate>

    @* Dynamic Way of Doing Things *@
    
    <div class="form-group" ng-repeat="val in masterModel | toArray | orderBy:'order':false">

        <label for="{{ val.$key }}">{{ val.$key | addSpace }}</label>
        <input class="form-control" id="{{ val.$key }}" dynamic-name="val.$key" ng-model="clientModel[val.$key]"
               ng-required="value.required" servervalidation type="{{ value.type }}" />

        <ul class="list-unstyled">
            <li ng-repeat="error in value.serverErrors">{{ error }}</li>
        </ul>

    </div>

    <button class="btn btn-default" ng-click="submit()">submit</button>

</form>
