
<div class="row">

    <div class="col-lg-6" ng-controller="RegisterCtrl">

        @Html.Partial("_DynamicAngularForm")

    </div>

    <div class="col-lg-6" ng-controller="TokenCtrl">

        @Html.Partial("_DynamicAngularForm")

    </div>

</div>