
<header>
    <h1>
        <span class="glyphicon glyphicon-heart-empty"></span>Cake Love<span class="glyphicon glyphicon-heart-empty"></span>
    </h1>
</header>

<div class="row">

    <div class="col-lg-6" ng-controller="RegisterCtrl">

        @Html.Partial("_DynamicAngularForm", "Register")

    </div>

    <div class="col-lg-6" ng-controller="TokenCtrl">

        @Html.Partial("_DynamicAngularForm", "Login")

    </div>

</div>

<div class="row">

    <div class="col-lg-6" ng-controller="AgreementCtrl">
        
        <div ng-switch="auth.loggedIn">
            <span ng-switch-when="false">Hello Guest!</span>
            <span ng-switch-when="true">Welcome back {{ auth.userName }} </span>
        </div>

        @Html.Partial("_Agreement")

    </div>

</div>