<!DOCTYPE html>
<html ng-app="CakeLoveApp">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/Content/css")

</head>
<body>
   
        @RenderBody()
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>

    @Scripts.Render("~/bundles/bigfont")
    @RenderSection("scripts", required: false)

</body>
</html>
